* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none:
}

nav li a:hover {
  background-color: yellow;
}

img {
  width: 300px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.socialmediascolumns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 10px 0 10px 0;
}

.container{
  margin: 20px;
  padding: 20px;
}

.topcontainer{
  margin-top: 60px;
  padding: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 20%;
  padding: 5px;
}

.socialmedias{
  margin: 20px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
}
