* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #263238;
}

a {
  text-decoration: none;
}

nav ul{
  display: flex;
  list-style: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none:
}

nav li a:hover {
  background-color: yellow;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.container{
  margin: 20px;
}

.container p {
  text-align: center;
}

.container h1{
  text-align: center;
}

.cookie-overlay {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background: #fff;
  z-index: 2051;
  line-height: 20px;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  > div:first-child {
    width: 458px;
  }

  a {
    text-decoration: underline;
  }

  .close-cookies {
    cursor: pointer;
  }

  @include media-breakpoint-down(md) {
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;

    > div:first-child {
      width: auto;
    }
  }
}

/*footer*/
.col_white_amrc {
   color:#FFF;
 }

footer {
  width:100%;
  background-color:#263238;
  padding:10px 0px 25px 0px;
  text-align: center;
  align-items: center;
}

.pt2 {
  padding-top:40px;
  margin-bottom:20px ;
}

footer p {
  font-size:13px;
  color:#CCC;
  padding-bottom:0px;
  margin-bottom:8px;
}

.mb10 {
  padding-bottom:15px;
}

.footer_ul_amrc {
  margin:0px;
  list-style:none;
  font-size:14px;
  padding:0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{
  color:#CCC;
}

.footer_ul_amrc li a:hover{
  color:#fff;
  text-decoration:none;
}

.padding-right {
  padding-right:10px;
}

.footer-container{
  margin: 10px;
  padding: 10px;
}

.footer_ul2_amrc {
  margin:0px;
  list-style-type:none;
  padding:0px;
}

.footer_ul2_amrc li p {
  display:table;
}

.footer_ul2_amrc li a:hover {
  text-decoration:none;
}

.footer_ul2_amrc li i {
  margin-top:5px;
}

.bottom_border {
  border-bottom:1px solid #323f45;
  padding-bottom:20px;
}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display:inline;
}

.foote_bottom_ul_amrc li a {
  color:#999;
  margin:0 12px;
}

.social_footer_ul {
  display:table;
  margin:15px auto 0 auto;
  list-style-type:none;
}

.social_footer_ul li {
  padding-left:20px;
  padding-top:10px;
  float:left;
}

.social_footer_ul li a {
  color:#CCC;
  border:1px solid #CCC;
  padding:8px;
  border-radius:50%;
}

.social_footer_ul li i {
  width:20px;
  height:20px;
  text-align:center;
}
