* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

/* Cookie popup */
.cookie-content{
  background: #2f3640;
  color: #fff;
  padding: 0 32px;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 -2px 16px rgba(47,54,64,0.39);
  transition: 400ms;
}

.cookie-content.active {
  bottom: 0; 
}

.cookiebtn{
  background: green;
  border: 0;
  color: #fff;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* Navbar */
.wrapper {
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  transition: 0.6s;
}

.menu ul a i{
  color: #FFF;
}

.wrapper .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: gray;
  padding: 0 30px;
  height: 80px;
  opacity: .8;
}

.wrapper .navbar .menu ul li{
  display: inline-block;
  margin: 0 10px;
}

.wrapper .navbar .menu ul li a{
  color: #fff;
  font-size: 18px;
}

.wrapper .searchbar {
  position: relative;
}

.wrapper .searchbar input[type="text"]{
  border: 0;
  padding: 0 0px;
  width: 0px;
  height: 35px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .searchbar .icon{
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  width: 35px;
  height: 100%;
  border-radius: 3px;
  color: #fff;
  transition: all 0.5s 0.2s ease;
}

.wrapper .searchbar .icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.wrapper .searchbar .icon.active{
  background: #062333;
  transition: all 0.3s ease;
}

.wrapper .searchbar input[type="text"].active{
  width: 250px;
  padding: 0 10px;
  transition: all 0.5s 0.2s ease;
}

.wrapper .sticky {
  padding: 5px 80px;
  background: gray;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  color: gray;
  padding: 0 10px;
}

.menu ul li a:after{
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: blue;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.menu ul li a:hover::after {
  width: 100%;
}

/*Top container */
.topcontainer img{
  position: relative;
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
}

.topcontainer {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.topcontainerbtmtext {
  position: absolute;
  bottom: 0;
  transform: translate(13%, -50%);
  font-size: 48px;
  color: white;
}

/* Date and Time*/

.datetime {
  color: #fff;
  background: #10101E;
  width: 380px;
  padding: 15px 10px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(25));
  margin: auto;

}

.date {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}

section:nth-child(odd){
  background: white;
}

section:nth-child(even){
  background: white;
}

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

input[type=text] {
  width: 50px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
  width: 100%;
}

img {
  width: 300px;
  height: 300px;
  animation: ani 2s linear;
}

.welcomecontainer {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.sectcontainer{
  text-align: center;
  align-items: center;
}

.sectcontainer a{
  font-size: 48px;
  color: gray;
}
.sectcontainer p{
  padding: 30px;
  margin: 30px 60px 30px 60px;
  font-size: 18px;
  text-align: center;
}

.sectcontainer a:hover{
  color: blue;
  transition: 1s ease;
}

.slider-container{
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 40%;
  align-items: center;
  background:#4c4c4c;
  border: solid 10px #2c2c2c;
}

.slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide_img img {
  width: 100%;
  height: 100%;
}

#i1, #i2, #i3 {
  display: none;
}

.pre, .next{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  cursor: pointer;
}

.pre{
  left: 0;
}

.next{
  right: 0;
}

.navdots {
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0,0,0,.6);
}

.slide_img {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
  z-index: 9;
}

#i1:checked ~ .navdots #dot1,
#i2:checked ~ .navdots #dot2,
#i3:checked ~ .navdots #dot3{
  background: #fff;
}

/*footer*/
.col_white_amrc {
   color:#FFF;
 }

footer {
  width:100%;
  background-color:#263238;
  padding:10px 0px 25px 0px;
  text-align: center;
  align-items: center;
}

.pt2 {
  padding-top:40px;
  margin-bottom:20px ;
}

footer p {
  font-size:13px;
  color:#CCC;
  padding-bottom:0px;
  margin-bottom:8px;
}

.mb10 {
  padding-bottom:15px;
}

.footer_ul_amrc {
  margin:0px;
  list-style:none;
  font-size:14px;
  padding:0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{
  color:#CCC;
}

.footer_ul_amrc li a:hover{
  color:#fff;
  text-decoration:none;
}

.padding-right {
  padding-right:10px;
}

.footer-container{
  margin: 10px;
  padding: 10px;
}

.footer_ul2_amrc {
  margin:0px;
  list-style-type:none;
  padding:0px;
}

.footer_ul2_amrc li p {
  display:table;
}

.footer_ul2_amrc li a:hover {
  text-decoration:none;
}

.footer_ul2_amrc li i {
  margin-top:5px;
}

.bottom_border {
  border-bottom:1px solid #323f45;
  padding-bottom:20px;
  display: flex;
  justify-content: space-around;
}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display:inline;
}

.foote_bottom_ul_amrc li a {
  color:#999;
  margin:0 12px;
}

.social_footer_ul {
  display:table;
  margin:15px auto 0 auto;
  list-style-type:none;
}

.social_footer_ul li {
  padding-left:10px;
  padding-top:10px;
  float:left;
}

.social_footer_ul li a {
  color:#CCC;
  border:1px solid #CCC;
  padding:8px;
  border-radius:50%;
}

.social_footer_ul li i {
  width:20px;
  height:20px;
  text-align:center;
}

@media (min-height: 100vh){
  .wrapper{
    color: gray;
  }
}
